<p-card header="{{objeto.titulo}}" styleClass="ui-card-shadow text-center cor-alternada-{{index}}">
    <div class="text-center">
        <p-header>
            <div class="text-center">
                <i class="{{objeto.icone}} fa-5x cor-alternada-{{index}}"></i>
            </div>
        </p-header>

        <p-footer>
            <br/>
            <button pButton type="button" label="Adicionar Gasto" icon="fa fa-plus" style="margin-right: .25em"></button>
        </p-footer>
    </div>
</p-card>