<div class="text-center">
    <h1>Formulário de Categoria</h1>
    <form [formGroup]="formCategoria" (submit)="submitFormulario()">
        <div class="p-grid p-justify-center">
            <div class="p-col-4">
                <cf-input-text-padrao
                    label="Código"
                    formControlName="id"
                    parentForm="formCategoria"
                ></cf-input-text-padrao>
            </div>
        </div>
        <br/>
        <div class="p-grid p-justify-center">
            <div class="p-col-4">
                <cf-input-text-padrao
                label="Ícone"
                formControlName="icone"
                parentForm="formCategoria"
                ></cf-input-text-padrao>
            </div>
        </div>
        <br/>
        <div class="p-grid p-justify-center">
            <div class="p-col-4">
                <cf-input-text-padrao
                label="Título"
                formControlName="titulo"
                parentForm="formCategoria"
                ></cf-input-text-padrao>
            </div>
        </div>
        <br/>
        <div class="p-grid p-justify-center">
            <div class="p-col-4">
                <button type="submit" class="ui-button botao-padrao">Cadastrar</button>
            </div>
        </div>
    </form>
</div>