<br/>
<br/>
<br/>
<div class="p-grid p-justify-center">
    <div class="p-col-6">
        <cf-grafico-area-polar [dadosGraficoAreaPolar]='dadosGraficoAreaPolar'></cf-grafico-area-polar>
    </div>
    <div class="p-col-6">
        <cf-grafico-donut [dadosGraficoDonut]="dadosGraficoDonut">
        </cf-grafico-donut>
    </div>
</div>
<br/>
<br/>
<br/>
<div class="p-grid p-justify-center">
    <div class="p-col-6">
        <cf-grafico-de-linha [dadosGraficoDeLinha]='dadosGraficoDeLinha'>
        </cf-grafico-de-linha>
    </div>
</div>
<br/>
<br/>
<br/>

<div class="p-grid p-justify-center">
    <div class="p-col-6">
        <cf-grafico-de-barra [dadosGraficoDeBarra]='dadosGraficoDeBarra'>
        </cf-grafico-de-barra>
    </div>
</div>
<br/>
<br/>
<br/>
