<p-card header="{{objeto.titulo}}" 
    (click)="clickNoCartao()"
    styleClass="ui-card-shadow text-center cor-{{corUsada}}-{{index}}">
    <div class="text-center">
        <p-header>
            <div class="text-center">
                <br/>
                <i class="{{objeto.icone}} fa-5x cor-{{corUsada}}-{{index}}"></i>
            </div>
        </p-header>

        <p-footer>
            <br/>
            <h3>
                {{objeto.descricao}}
            </h3>
        </p-footer>
    </div>
</p-card>