<div class="text-center">
    <h1>Formulário de Categoria</h1>
    <form [formGroup]="formTipoConta" (submit)="submitFormulario()">
        <div class="p-grid p-justify-center" *ngIf="!!idTipoConta">
            <div class="p-col-4">
                <input type="hidden" [value]="idTipoConta"> 
            </div>
        </div>
        <br/>
        <div class="p-grid p-justify-center">
            <div class="p-col-4">
                <cf-input-text-padrao
                label="Descrição"
                nomeFormulario="descricao"
                [parentForm]="formTipoConta"
                ></cf-input-text-padrao>
            </div>
        </div>
        <br/>  <div class="p-grid p-justify-center">
            <div class="p-col-4">
                <button pButton type="submit"
                    [disabled]="formTipoConta.invalid"
                    icon="fa fa-plus" label="Cadastrar"></button>
                    
            </div>
        </div>
    </form>
</div>