<h1>Formulario Rapido</h1>
<div class="p-grid">
    <div class="p-col-4">
        <cf-card-padrao></cf-card-padrao>
    </div>
    <div class="p-col-4">
        <cf-card-padrao></cf-card-padrao>
    </div>
    <div class="p-col-4">
        <cf-card-padrao></cf-card-padrao>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-4">
        <cf-card-padrao></cf-card-padrao>
    </div>
    <div class="p-col-4">
        <cf-card-padrao></cf-card-padrao>
    </div>
    <div class="p-col-4">
        <cf-card-padrao></cf-card-padrao>
    </div>
</div>